/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* yeseva-one-regular - latin */
@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/yeseva-one-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* nunito-sans-italic - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('fonts/nunito-sans-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/nunito-sans-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-sans-regular - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/nunito-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



/* _____________________________________________________ */

body {
    
  margin: 0px;
  padding: 0%;
  border: 0%;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
  font-style: normal;

}
 
/* _____________________________________________________ */
header {
    background: #131313;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 83px;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo__link {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0em;
    color: #E3B873; 
    text-align: left;
    margin-left: 92px;
    height: 10px;
    width: 179.74468994140625px;
}

/* _____________________________________________________ */


#knob-2 {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}

#knob-3 {
    text-decoration: none;
    margin-left: 47.09px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

#knob-4 {
    text-decoration: none;
    
    margin-left: 47.09px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    
    color: #FFFFFF;
}

#knob-5 {
    text-decoration: none;
    
    margin-left: 47.09px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    
    color: #FFFFFF;
}

#knob-6 {
    text-decoration: none;
    
    margin-left: 47.09px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    
    color: #FFFFFF;
}

#knob-7 {
    text-decoration: none;
    
    margin-left: 47.09px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    
    color: #FFFFFF;
}

#knob-8 {
    
    
    

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;

    
   
    letter-spacing: 0em;
    text-align: right;
    
    
    color: #E3B873;
}

#header-button {
    align-items: center;
    border-radius: 2px;
    border: 0px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 13px;
    padding-bottom: 13px;

    margin-top: 0px;
    margin-left: 45px;
    margin-right: 90px;

    
    background: #E3B873;
}

#knob-9-link {
    
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-decoration: none;
    
    padding: 0px;
    color: #FFFFFF;
    border: 0px;
}

/* _____________________________________________________ */

#text-1 {
    color: #FFFFFF;
    text-transform: uppercase;
    Line-height: 53.13px;
    letter-spacing: normal;
    font-size: 40px;
}

#text-2 {
   
    
    margin-top: 19px;
    width: 504px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    
    color: #FFFFFF;
    
}

#title-color {
    color: #E3B873;
}

#button1 {

    border: 0px;
    padding-top: 19px;
    padding-bottom: 20.65px;
    
    padding-left: 41px;
    padding-right: 42px;
    color:#FFFFFF;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    background: #E3B873;
    border-radius: 2px;

}

#button2 {

    border: 1px solid #FFFFFF;
    padding-top: 19px;
    padding-bottom: 20.65px;
    padding-left: 41px;
    padding-right: 42px;
    margin-left: 20px;
    color:#FFFFFF;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    background: transparent;
    border-radius: 2px;

}

a {
    text-decoration: none;
}

#title-online-control {
    font-size: 20px;
    line-height: 27.72px;
}
h1 {
    font-family: 'Yeseva One';
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    color: #E3B873;
    text-transform: uppercase;
}


h2 {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

h3 {
    color: #E3B873;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 18px;
    line-height: 24.95px;
}

h4 {
    font-family: 'Yeseva One';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    
}

h5 {
    font-family: 'Yeseva One';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

p {
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #FFFFFF;
}
#button1:hover {
    background-color: #91764A;
    transition: all 0.1s ease-out;
}
#button2:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-out;
}
#header-button:hover {
    background-color: #91764A;
    transition: all 0.1s ease-out;
}
.submit-button:hover {
    background-color: #91764A;
    transition: all 0.1s ease-out;
}

.navigation{
    display: flex;
    flex-direction: row;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-home {
    background-image: url(images/image-1.jpg);
    background-size: cover;
    height: 707px;
}

.home-overlay {  
    height: 707px;
    background-color: rgba(0, 0, 0, 0.7);
}

#born-to-be-alive {
    display: none;
}

.text {
    display: flex;
    flex-direction: column;
    padding-top: 194px;
    padding-left: 134px;     
}

#text-1 {
    line-height: 53.13px
}
.title {
    font-family: 'Yeseva One';
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 53px;
    letter-spacing: 0em;
    color: #FFFFFF;
    
}
.main-buttons1 {
    display: flex;
    border: 0%;
    padding: 0%;
   
   
    padding-top: 41px; 
     
}
.contaiter-projects-flex-without-ul{
    margin-top: 45.36px;
    display: flex;
    flex-direction: row;
    
}
    
.projects-ul-items {
    box-sizing: border-box;
    width: 623px;
    display: flex;   
    justify-content: space-between;
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #E3B873;
    align-self: flex-end;
    margin-right: 190.55px;
    margin-top: 107px;
}

.projects-line-block {
    align-self: flex-end;
    margin-right: 619.62px;
}

.projects-line {
    display: flex;   
    height: 1px;
    width: 193.935546875px;
    background: #E3B873;
    align-self: flex-end;
    align-items: flex-start;    
}
.projects-4-items {
    display: flex;
    flex-direction: column;
    width: 50%;   
}

.projects-4-items-p {
    font-size: 13px;
}
.projects-items-blocks {    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 403px;
    height: 162px;    
}
#projects-p1 {
    width: 442px;
    margin-top: 34px;
}

.lines-svg {
    width: 205.68px;
}

.container-projects-items {
    margin: 0px 134.45px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 416px;
}
.container-projects-without-pic {
   
   display: flex;
   flex-direction: column;
   width: 50%;
   justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.container-projects {
    display: flex;
    flex-direction: column;
}

.container-online-control {
    display: flex;
    flex-direction: column;
    margin-top: -334px;
}
#svg-pic-online-control {    
    width: 196px;
    align-self: center;
}

.online-control-player{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.jpg-pic-online-control{
    position: absolute;
    margin-top: 31.21px;
    align-self: center;
    width: 817px;
    height: 434px;
    background-image: url(images/jpg-pic-online-control.jpg);
}

.jpg-pic-online-control-mobile {
    display: none;
    background-image: url(images/jpg-pic-online-control-mobile.jpg);
}

#dark-overlay {
    position: absolute;
    margin-top: 31.21px;
    z-index: 1;
    width: 817px;
    height: 434px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.projects {
  background-color: #131313;
}
#svg-pic-play{
    z-index: 2;
    align-self: center;
    margin-top: 190px;
}
#line-online-control{
    width: 55px;
    height: 1.54px;
    background-color: #E3B873;
    align-self: center;
    margin-top: 202px;
}
#p-online-control {
    margin-top: 34.46px;
    width: 681px;
    font-size: 18px;
    line-height: 36.83px;
    align-self: center;
    text-align: center;
    color: #131313;
}
.roomimg-for-mobiles {
    background-image: url(images/roomimgmobile.jpg);
    width: 340px;
    height: 241.35px;
    display: none; 
    justify-content: space-between;
    align-self: center;
    margin-top: 72px;
}
.strelochka-l {
    background-image: url(images/svg/strelochki-left.svg);
    width: 36px;
    height: 36px;
    align-self: center;
    margin-left: 14px;
}
.strelochka-r {
    background-image: url(images/svg/strelochki-right.svg);
    width: 36px;
    height: 36px;
    align-self: center;
    margin-right: 14px;
}
.submit__button-link{
    color: #FFFFFF;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*              I N P U T S                      */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.inputs-online-control {
    margin-top: 93.46px;
    display: flex;
    align-self: center;
    align-content: center;
    width: 769px;
    height: 51px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-name-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    order: 0;
}
.input-phone-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    order: 1;
}
.b-5-2__inputs-block {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    width: 408px;
    height: 238px;
    justify-content: space-between;
    
}
.b-5__input-name-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}
.b-5__input-phone-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}
.b-5__input-email-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}
#b-5__input-name {
    width: 408px;
    border: none;
    background-color: #131313;
}
#b-5__input-phone {
    width: 408px;
    border: none;
    background-color: #131313;
}
#b-5__input-email {
    width: 408px;
    border: none;
    background-color: #131313;
}
#b-5__input-name-label {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.5);
}
#b-5__input-phone-label {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.5);
}
#b-5__input-email-label {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.5);
}
#b-5__input-name::placeholder {
    font-family: 'Nunito Sans';
    font-style: Regular;
    font-size: 14px;
    line-height: 22.92px;
    line-height: 120%;
    text-align: Left;
    Vertical-align: Top;
    color: white; 
}
#b-5__input-phone::placeholder {
    font-family: 'Nunito Sans';
    font-style: Regular;
    font-size: 14px;
    line-height: 22.92px;
    line-height: 120%;
    text-align: Left;
    Vertical-align: Top;
    color: white; 
}
#b-5__input-email::placeholder {
    font-family: 'Nunito Sans';
    font-style: Regular;
    font-size: 14px;
    line-height: 22.92px;
    line-height: 120%;
    text-align: Left;
    Vertical-align: Top;
    color: white; 
}
#input-name {
    width: 231px;
    border: none;
}
#input-phone {
    width: 231px;
    border: none;
}
#input-name::placeholder {
    font-family: 'Nunito Sans';
    font-style: Regular;
    font-size: 14px;
    line-height: 22.92px;
    color: rgba(54, 54, 54, 1);
}
#input-name:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
#input-phone::placeholder {
    font-family: 'Nunito Sans';
    font-style: Regular;
    font-size: 14px;
    line-height: 22.92px;
    color: rgba(54, 54, 54, 1);
}
#input-phone:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
#input-name-label {
    font-family: 'Nunito Sans';
    font-style: Regular;
    font-size: 13px;
    line-height: 21.28px;
    color: rgba(54, 54, 54, 0.5);
}
#input-phone-label {
    font-family: Nunito Sans;
    font-style: Regular;
    font-size: 13px;
    line-height: 21.28px;
    color: rgba(54, 54, 54, 0.5);
}
.inputs-line{
    background-color: rgba(54, 54, 54, 0.3);
    width: 231px;
    height: 1px;
}
.b-5__inputs-line {
    background-color: rgba(255, 255, 255, 0.15);
    width: 408px;
    height: 1px;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*              C H E C K B O X                  */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.online-control-checkbox-container {
    
    align-self: center;
    display: flex;
    margin: 39px 25% 0px 25%;
    order: 3;
}
#online-control-checkbox {
    margin-right: 8.62px;
}
#online-control-checkbox label{
    font-family: 'Nunito Sans';
    font-style: Regular;
    font-size: 14px;
    line-height: 22.92px;
    text-align: center;
    
}
.online-control-checkbox-label {
    align-self: center;
}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    background-image: url(images/svg/agreement-bg.svg); 
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}
input[type="checkbox"]::after{
    content: "\f00c";
    display: none;
}
input[type="checkbox"]:checked{
    width: 18px;
    height: 18px;
    background-image: url(images/svg/agreement.svg);
}
.b-5-2-checkbox-container {
    align-self: center;
    display: flex;
    margin: 16px 41.85% 0px 25%;
}
#b-5-2-checkbox {
    width: 296.61px;
    height: 16px;
    color: #FFFFFF;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*              B U T T O N S                    */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.submit-button {
    width: 200px;
    height: 51px;
    align-items: center;
    border-radius: 2px;
    border: 0px;
    line-height: 26.6px;
    text-align: center;
    font-size: 13px;
    padding: 0px;
    background: #E3B873;
    order: 2;
}
.b-5__button {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    background: rgba(227, 184, 115, 1);
    width: 213px;
    height: 51px;
    border: 0px;
}
.b-5-2__button {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-top: 39px;
    margin-right: 49px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.type-of-repair {
    display: flex;
    flex-direction: column;
    margin-top: 147.85px;
}
.type-of-repair__pic {
    background-image: url(images/svg/type-of-repair-pic.svg);
    align-self: center;
    width: 114px;
    height: 28px;
}
.type-of-repair__title-pic-block {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}
.type-of-repair__pictures-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    width: 1236px;
    margin-top: 31px;
    justify-content: space-between;
}
.type-of-repair__pic1 {
    background-image: url(images/type-of-repair-pic1.jpg);
    width: 392px;
    height: 421px;
    
}
.type-of-repair__pic2 {
    background-image: url(images/type-of-repair-pic2.jpg);
    width: 392px;
    height: 421px;
   
}
.type-of-repair__pic3 {
    background-image: url(images/type-of-repair-pic3.jpg);
    width: 392px;
    height: 421px;
    
}
.type-of-repair__text-block {
    display: flex;
    flex-direction: column;
    width: 268px;
    padding: 25px 31px 0px 31px;
    height: 261px;
    background-color: #FFFFFF;
    margin-top: -127px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);

}
.type-of-repair__picture-block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.type-of-repair__picture-block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.type-of-repair__picture-block-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.type-of-repair-ul {
    
    list-style-type: disc;
    margin-top: 13px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.type-of-repair__price {
    width: 228px;
    height: 54px;
    background-color:rgba(227, 184, 115, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.3);
    margin: -27px 96px 0px 0px;

}
.type-of-repair__price-text {
    
    font-family: 'Yeseva One';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}


.block-5 {
    display: flex;
    margin: 124px 0px 0px 0px;
}
.block-5-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(images/block-5-1.jpg);
    height: 645px;
    width: 703px;
    
}
.block-5-1__ul-container {
    height: 473px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 79.19px;
    margin: 117.14px 79.19px 0px 0px;
}
.block-5-1__custom-ul {
    display: flex;
    align-items: center;
}
.block-5-1__circle-bg {
    display: flex;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}
.block-5-1__p {
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(54, 54, 54, 1);
}
.block-5-1__circle {
    width: 49.76;
    position: absolute;
}
.block-5-1__circle-num {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.b-5-2__bg {
    display: flex;
    flex-direction: column;
    width: 506px;
    height: 509px;
    background-color: rgba(19, 19, 19, 1);
    margin-right: 100px;
    margin: 106px 100px 0px 0px;
    align-self: flex-end;
}
.b-5-2__h2 {
    margin: 28px 0px 0px 0px;
}
.b-5-2-icon-container {
    display: flex;
    margin: 28px 0px 0px 12.5px;
}
.b-5-2-icon {
    width: 72px;
    height: 72px;
    margin-right: 5.5px;
}
.b-5-2-icon-text {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
    margin-top: 5px;
}
.block-6 {
    margin-top: 160px;
    display: flex;
}
.b-6-bg {
    background-image: url(images/b-6-bg.jpg);
    width: 1440px;
    height: 864px;
}
.b-6-bg-overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.75);
    height: 864px;
    
}
.b-6-text-block {
    display: flex;
    height: 629px;
    justify-content: space-between;
    flex-direction: column;
    margin: 137.47px 0px 0px 99px;
}
.b-6__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 516px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
}
.b-6__ul li:first-of-type {
    color: #E3B873;
}
.b-6__text-line {
    position: absolute;
    width: 146.23px;
    margin: 31px 0px 0px 0px;
    height: 0.66px;
    background-color: #E3B873;
}
.b-6__pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 751px;
    margin: 0px 102px 0px 0px;
}
.b-6__pics12 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 946.35px;
}
.b-6__pics34 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 936.88px;
    margin: -151px 0px 0px 0px
}
.b-6__pic1 {
    background-image: url(images/b-6__pic1.jpg);
    width: 354px;
    height: 557.88px;
}
.b-6__pic2 {
    background-image: url(images/b-6__pic2.jpg);
    width: 354px;
    height: 349.37px;
    
}
.b-6__pic3 {
    background-image: url(images/b-6__pic3.jpg);
    width: 354px;
    height: 275px;
   
}
.b-6__pic4 {
    background-image: url(images/b-6__pic4.jpg);
    width: 354px;
    height: 624.88px;
}
.b-6__mobile-v {
    display: none;
    flex-direction: column;
    margin: 55px 0px 0px 0px;
    height: 332px;
    justify-content: space-between;
}
.b-6__mobile-v h1 {

    font-size: 22px;
    line-height: 30px;
    text-align: center;

}
.b-6__mobile-pic-block {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 242px;
    background-image: url(images/b-6__mobile-pic.jpg);
}
.clients {
    display: flex;
    flex-direction: column;
    height: 1107.11px;
}
.clients__bg-block {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: center;
    top: 5844px;
    z-index: -3;
}
.clients__bg-left {
    opacity: 5%;
    width: 50vw;
    z-index: -1;
}
.clients__bg-right {
    transform: scaleX(-1);

    opacity: 5%;
   width: 50vw;
    z-index: -1;
    
}
.clients__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 110.47px 0px 0px 0px;
}
.clients__title-logo {
    background-image: url(images/svg/clients__title-logo.svg);
    width: 114px;
    height: 27.62px;
    margin: 13.4px 0px 0px 0px;
}
.clients__title-p {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
    margin: 24.25px 0px 0px 0px;
}
.clients__reviews-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 1392px;
    margin: 39px 0px 0px 0px;
}
.clients__reviews-block {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
}
.clients__person {
    display: flex;
    height: 124px;
}
.clients_photo-1 {
    background-image: url(images/client-1.png);
    border-radius: 50%;
    width: 76px;
    height: 76px;
    margin: 24px 24px 0px 20px;
}
.clients_photo-2 {
    background-image: url(images/client-2.png);
    border-radius: 50%;
    width: 76px;
    height: 76px;
    margin: 24px 24px 0px 20px;
}
.clients_photo-3 {
    background-image: url(images/client-3.png);
    border-radius: 50%;
    width: 76px;
    height: 76px;
    margin: 24px 24px 0px 20px;
}
.clients__name {
    font-family: 'Yeseva One';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #131313;
    align-self: center;
}
.clients__p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 20px;
    height: 216px;
}
.clients__review {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(149, 149, 149, 1);
}
.clients__review {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(149, 149, 149, 1);
}
.clients__details {
    display: flex;
    width: 293.75px;
    height: 54px;
    background-color: rgba(227, 184, 115, 1);
    box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.5);
    margin: 63px 0px -27px 0px;
    align-items: flex-end;
}
.clients__area-block {
    display: flex;
    width: 135.09px;
    height: 54px;
}
.clients__line-white {
    width: 0.75px;
    height: 54px;
    background-color: #FFFFFF;
}
.clients__days-block {
    display: flex;
    width: 158.66px;
    height: 54px;
}
.clients__area-pic {
    background-image: url(images/svg/clients__area-pic.svg);
    width: 32.34px;
    height: 31.34px;
    margin: 11px 15.39px 0px 17.36px;
}
.clients__days-pic {
    background-image: url(images/svg/clients__days-pic.svg);
    width: 32.78px;
    height: 31.35px;
    margin: 11px 15.02px 0px 17.26px;
}
.clients__days-title {
    font-family: 'Yeseva One';
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-transform: uppercase;
    align-self: center;
}
.clients__area-title {
    font-family: 'Yeseva One';
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-transform: uppercase;
    align-self: center;
}
.questions {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 470px;
    right: 0px;
    left: 0px;
    margin: -222.66px 0px 0px 0px;
    
}
.questions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 883px;
    height: 445.32px;
    background-color: rgba(24, 24, 24, 1);
   
}
.questions h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 34.4px 0px 0px 0px;
}
.questions__inputs-container {
    display: flex;
    flex-wrap: wrap;
    width: 516.82px;
    height: 137.76px;
    align-content: space-between;
    justify-content: space-between;
    margin: 45.8px 0px 0px 0px;
}
.questions__name-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
}
.questions__phone-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
}
.questions__question-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
}
#questions__name-input {
    width: 231px;
    border: none;
    background-color: rgba(24, 24, 24, 1);
}
#questions__phone-input {
    width: 231px;
    border: none;
    background-color: rgba(24, 24, 24, 1);
}
#questions__question-input {
    width: 516.82px;
    border: none;
    background-color: rgba(24, 24, 24, 1);
}
.questions__inputs-label {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);

}
#questions__name-input::placeholder{
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
#questions__phone-input::placeholder{
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
#questions__question-input::placeholder{
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.questions__inputs-line {
    width: 231px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
}
.questions__question-block .questions__inputs-line {
    width: 516.82px;
}
.questions__checkbox-block {
    display: flex;
    align-items: center;
    width: 285.62px;
    justify-content: space-between;
    margin: 48.23px 0px 50.45px 0px;
}
.questions__checkbox-label {
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.address-bg {
    position: absolute;
    background-image: url(images/adress-bg.jpg);
    height: 953.9px;
    width: 100vw;
    background-size: cover;
    z-index: -3;
}

.address__big-container {
    display: flex;
    flex-direction: column;
    

}
.address__bg-overlay {
    position: absolute;
    height: 953.9px;
    width: 100vw;
    background-size: cover;
    background-color: #000000d6;;
    z-index: -1;
}
.address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 274.67px 0px 0px 0px;
    z-index: 3;
}
.address__h1-mobile {
    display: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    
}
.address-h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.address__icons-block {
    display: flex;
    width: 71px;
    height: 28px;
    justify-content: space-between;
    margin: 26px 0px 0px 0px;
}
.address__mail-icon {
    background-image: url(images/svg/address_mail-icon.svg);
    width: 28px;
    height: 28px;
}
.address__inst-icon {
    background-image: url(images/svg/address_inst-icon.svg);
    width: 28px;
    height: 28px;
}

.address__map-container {
    display: flex;
    justify-content: center;
    margin: 43.29px 0px 0px 0px;
}
.address-map {
    background-image: url(images/address-map.png);
    width: 925px;
    height: 465px;
}

.address__map-mobile {
    display: none;
}

footer .nav-bar {
    height: 133px;
}
footer {
    background: #131313;
    margin: 61px 0px 0px 0px;
}
/*____________________________________*/



@media (max-width: 1408px) {
    #header-button {
        display: none;
    }
    #projects-li-1 {
        display: none;
    }
    #projects-li-2 {
        display: none;
    }
    #projects-li-3 {
        display: none;
    }
    .projects-line {
        display: none;
    }
    .svg-1 {
        display: none;
    }
    .projects-ul-items {
        display: none;
    }
    .jpg-pic-online-control {
        display: none;
    }
    .roomimg-for-mobiles {
        display: flex;
    }
    .block-5 {
        display: none;
    }
    #knob-8 {
        margin-right: 92px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        text-decoration-line: underline;
        letter-spacing: 0em;
        text-align: right;
        color: #E3B873;
    }
    #roomimg {
        width: 340px;
        margin: 72px 0px 0px 0px;
        align-self: center;
    }
    .container-projects-items {
        
        align-self: center;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 416px 0px;
    }
    #projects-p1 {
        text-align: center;
        align-self: center;
        
        margin-top: 34px;

    }
    #completed-projects-h1 {
        align-self: center;
        text-align: center;
    }
    .completed-projects-p {
        display: flex;
        flex-direction: column;

    }
    .projects-items-blocks {
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        width: 403px;
        margin-top: 36.65px;
    }
    .container-projects-without-pic {
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between;
    }
    .jpg-pic-online-control-mobile {
        display: block;
        position: absolute;
        margin-top: 31.21px;
        align-self: center;
        width: 340px;
        height: 207px;
        background-image: url(images/jpg-pic-online-control-mobile.jpg);
    }
    #dark-overlay {
        position: absolute;
        margin-top: 31.21px;
        z-index: 1;
        width: 340px;
        height: 207px;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.8);
    }
    #svg-pic-play{
        z-index: 2;
        align-self: center;
        width: 65px;
        margin-top: 105px;
    }
    .text {
        display: flex;
        flex-direction: column;
        padding-top: 194px;
        align-items: center;
        padding-left: 0px;
    }
    .questions__container {
        margin: 0px 0px 0px 0px;
        width: 339.99px;
        
    }
    .questions {
        
        padding: 138.6px 0px 0px 0px;
        margin: -121px 0px 0px 0px;
        height: 551.67px;
        background-color: rgba(24, 24, 24, 1);
        z-index: -1;
    }
    .questions__inputs-container {
        margin: 51px 0px 0px 0px;
    }
    .block-6 {
        justify-content: center;
        margin-top: 0px;
    }
    .b-6-bg {
        display: none;
    }
    .b-6__mobile-v {
        display: flex;
    }
    .clients {
        display: none;
    }
    .address__map-container {
        display: none;
    }
    .address-bg {
        display: none;
       /* background-color: #131313;
        background-image: none;*/
        z-index: 0; 
    }
    .address__bg-overlay {
        display: none;
        z-index: 0;
    }
    .address__h1-mobile {
        display: flex;
    }
    .address-h1 {
        display: none;
    }
    .address__big-container {
        height: 470px;
        background-color: rgba(24, 24, 24, 1);
    }
    .address__icons-block {
        width: 100px;
        height: 40px;
    }
    .address__inst-icon {
        background-image: url(images/svg/address_inst-icon-mobile.svg);
        width: 40px;
        height: 39px;
    }
    .address__mail-icon {
        background-image: url(images/svg/address_mail-icon-mobile.svg);
        width: 39px;
        height: 39px;
    }
    .address__map-mobile {
        display: block;
        background-image: url(images/address__map-mobile.png);
        width: 340px;
        height: 255px;
        align-self: center;
    }
    .address {
        margin: 500px 0px 0px 0px;
    }
    .address-container {
        margin: 41.79px 0px 0px 0px;
    }
    footer {
        display: none;
    }
    .submit__button-block .submit-button {
        width: 340px;
    }
}

@media (max-width: 1250px) {

    .type-of-repair__pictures-container {
        width: 340px;
    }
    .type-of-repair__pic1 {
        width: 340px;
        margin-top: 59px;
    }
    .type-of-repair__pic2 {
        width: 340px;
        margin-top: 59px;
    }
    .type-of-repair__pic3 {
        width: 340px;
        margin-top: 59px;
    }
    .type-of-repair__text-block {
        width: 245px;
        height: 241px;
        align-self: flex-start;
    }
    .type-of-repair-ul {
        line-height: 22px;
    }
    h5 {
        font-size: 15px;
    }
    .type-of-repair__price {
        width: 190.43px;
        height: 40px;
        margin-right: 150px;
    }
    .type-of-repair__price-text {
        font-size: 15px;
    }
}


@media (max-width: 1017px) {
    #knob-6 {
        display: none;
    }
}

@media (max-width: 909px) {
    #knob-4 {
        display: none;
    }
}

@media (max-width: 819px) {
    #knob-5 {
        display: none;
    }
    nav {
        display: none;
    }
    .container {
        height: 57px;
    }
    .online-control-checkbox-container {
        margin: 28.3px 0px 0px 0px;
        order: 1;
    }
    .inputs-line {
        width: 340px;
    }
    .container-online-control {
        background-color: rgba(19, 19, 19, 1);
    }
    #p-online-control {
        color: #FFFFFF;
    }
    #line-online-control {
        margin-top: 113px;
    }
    #input-name-label {
        color: rgba(255, 255, 255, 0.5);
    }
    #input-name {
        background-color: rgba(19, 19, 19, 1);
        color: #FFFFFF;
    }
    .inputs-line {
        background-color: rgba(255, 255, 255, 1);
    }
    #input-name::placeholder {
        color: #FFFFFF;
    }
    #input-phone-label {
        color: rgba(255, 255, 255, 0.5);
    }
    #input-phone{
        background-color: rgba(19, 19, 19, 1) ;
    }
    #input-phone::placeholder {
        color: #FFFFFF;
        background-color: rgba(19, 19, 19, 1);
    }
    .inputs-online-control {
        width: 285.01px;
    }
    .inputs-online-control {
        flex-direction: column;
        width: 340px;
        height: 278px;
    }
    .online-control-checkbox-label {
        color: white;
    }
    .inputs-online-control .submit-button {
        width: 340px;
        margin-top: 62.43px;
        margin-bottom: -25px;
    }
    
}

@media (max-width: 783px) {
    #p-online-control {
        width: 340px;
        font-family: 'Nunito Sans';
        font-style: Regular;
        font-size: 11px;
        line-height: 18.68px;
    }
    .inputs-online-control {
        align-items: center;
        width: 340px;
    }
}

@media (max-width: 561px) {
    .logo__link {
        margin: 0px 0px 0px 18px;
    }
    .text {
        padding-top: 85px;
    }
    #text-1 {
        font-family: 'Yeseva One';
        font-style: Regular;
        font-size: 23px;
        line-height: 30.55px;
    }
    #text-2 {
        font-family: 'Nunito Sans';
        font-style: Regular;
        font-size: 14px;
        line-height: 19.02px;
        width: 339px;
        
        
    }
    #completed-projects-h1 {
        font-family: 'Yeseva One';
        font-style: Regular;
        font-size: 22px;
        line-height: 30.49px;
    }
    #projects-p1 {
        font-family: 'Nunito Sans';
        font-style: Regular;
        font-size: 11px;
        line-height: 17.43px;
        width: 311px;
    }
    #born-to-be-deleted {
        display: none;
    }
    .projects-4-items {
        justify-content: space-between;
    }
    .projects-4-items-p {
        font-family: 'Nunito Sans';
        font-style: Regular;
        font-size: 11px;
        line-height: 14.94px;
    }
    .projects-4-items-h3 {
        font-family: 'Yeseva One';
        font-style: Regular;
        font-size: 14px;
        line-height: 19.4px;
    }
    .projects-items-blocks {
        height: 102px;
        width: 340px;
    }
    #button1 {
        width: 338.61px;
        height: 51px;
    }
    #button2 {
        width: 338.61px;
        height: 51px;
        margin-left: 0px;
    }
    .main-buttons1 {
        height: 128px;
        flex-direction: column;
        justify-content: space-between;
    }
    #knob-1 {
        margin-left: 18px;
    }
    #knob-8 {
        margin-right: 18px;
    }
    #born-to-be-alive {
        display: block;
    }
    .title {
        width: 339px;
    }
    .container-home {
        background-image: url(images/bg-1-for-mobile.jpg);
        height: 476px;
    }
    .questions__inputs-container {
        flex-wrap: nowrap;
        flex-direction: column;
        height: 261.04px;
        width: 340px;
    }
    .questions__inputs-line {
        width: 340px;
        background-color:rgba(255, 255, 255, 0.5)
    }
    .questions__question-block .questions__inputs-line {
        width: 340px;
    }
    #questions__name-input {
        width: 340px;
    }
    #questions__phone-input {
        width: 340px;
    }
    #questions__question-input {
        width: 340px;
    }
    .questions__checkbox-block {
        margin: 23.39px 0px 67.33px 0px;
    }
    .questions__container {
        height: 549px;
    }
    .submit__button-block .submit-button {
        z-index: 6;
    }
    .address__big-container {
        z-index: -1;
        padding: 30px 0px 0px 0px;
    }
    .address {
        margin: 569px 0px 0px 0px;
    }

   
}

@media (max-width: 375px) {
    



}